* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #aebbb6;
    width: 100%;
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 7vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    margin-left: 20px;
    margin-bottom: 5px;
}

.games {
    font-size: 20px;
    margin-left: 5vw;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
}

.novidades {
    font-size: 20px;
    margin-left: 1vw;
    margin-bottom: 5px;
    color: #000000;
    font-weight: 600;
}

.games:hover {
    color: #6b8179;
}

.novidades:hover {
    color: #6b8179;
}

.divTexto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    margin-top: 12vh;
    background-color: #43534d;
    color:#ffffff;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraVerde {
    width: 70vw;
    height: 0.5vh;
    background-color: rgb(139, 151, 147);
    border-radius: 10px;
}

.branco{
    color:#ffffff;
}

.verde {
    color: 	#a1b8af;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.backgroundCard {
    background-color: #43534d;
    color: #ffffff;
    border: none;
}

.imgPost {
    border-radius: 5px;
}

.divLinhVerde {
    width: 100%;
    height: 40px;
}

.linhaVerde {
    margin-top: 3vh;
    margin-left: 5vw;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    display: flex;
}

.linha {
    margin-top: 15px;
    background-color: rgb(66, 90, 82);
    height: 6px;
    width: 100%;
    float: left;
}

.cardsMenor {
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    gap: 3vw;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.imgPostsMenor {
    width: 100%;
    height: 23vh;
    border-radius: 5px;
}

.backgroundCardMenor {
    background-color: #43534d;
    color: #ffffff;
    height: 65vh;
    border: none;
    float: left;
    margin-left: 13.5%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    background-color: #8d9c96;
    color: rgb(0, 0, 0);
}

.fundoVerde {
    background-color: rgb(16, 99, 70);
    color: #000000;
}

.fundoCard {
    background-color: #aebbb6;
    color: #000000;
    border: none;
    margin-top: 5vh;
    margin-left: 7%;
    float: left;
}

.ultimoCard {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    background-color: #43534d;
    padding-bottom: 3.5vh;
    width: 100%;
    height: 100%;
}